{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#article}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>

<a class="btn btn-primary" href="/articles/{{article.id}}/edit">글 수정</a>
<a class="btn btn-danger" href="/articles/{{article.id}}/delete">글 삭제</a>
<a href="/articles/new">새 글 작성</a>
<a href="/articles">전체 글 목록</a>